.footer {
  background-color: $color-grey-light-1;
  grid-column: full-start / full-end;
  padding: 8rem;
  border-top: 2px solid $color-primary;
}

.nav {
  list-style: none;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-gap: 1rem;
  align-items: center;

  &__link:link,
  &__link:visited {
    font-size: 1.4rem;
    color: $color-primary;
    text-decoration: none;
    font-family: $font-display;
    text-transform: uppercase;
    text-align: center;
    padding: 1rem;
    display: block;
    transition: all .2s;
  }

  &__link:hover,
  &__link:active {
    background-color: rgba($color-grey-light-2, .09);
    transform: translateY(-3px);
    font-weight: 500;
  }
}

.copyright {
  font-size: 1.4rem;
  color: $color-secondary;
  margin-top: 6rem;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  width: 70%;
  margin-bottom: -6rem;
}